@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');
body{
	/*overflow-x:hidden;*/
	/*overflow-y:hidden;*/
    font-family: 'Open Sans', sans-serif;
    position: absolute;
	width: 100%;
/* fondo del login */
	background-color: #d7c782;
    opacity: 0.8;
    background-image:  radial-gradient(#7e612a 0.5px, transparent 0.5px), radial-gradient(#7e612a 0.5px, #d7c782 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
	
}
/* Oculta el scrollbar*/
	::-webkit-scrollbar {display: none;}
    /*::-webkit-scrollbar { width: 9px; height: 9px;}
	::-webkit-scrollbar-button { width: 0px; height: 0px;}
	::-webkit-scrollbar-thumb { background: transparent; border: 0px none #fff; border-radius: 10px;}
	::-webkit-scrollbar-thumb:hover { background: #3d6077;}
	::-webkit-scrollbar-thumb:active { background: #8dd0d8;}
	::-webkit-scrollbar-track {background: transparent;border: 0px solid #aaa; border-radius: 5px;}
	::-webkit-scrollbar-track:hover { background: #e4e4e4;}
	::-webkit-scrollbar-track:active { background: #d2d2d2;}
	::-webkit-scrollbar-corner { background: transparent;}*/
/*----*/

.frf-element img{
    width: 1309px;
	height: 600px;
	background-color: rgba(0,0,0,0.8);
	filter:brightness(0.5);
}
.frf-element{
	position: relative;
    display: inline-block;
    text-align: center;
}
.saludo{
    position: absolute;
	top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #ffffff;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 40px;
	text-shadow: 0px 10px 2px black;
}
.nombre{
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #ffffff;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-style:oblique;
	font-size: 40px;
	text-shadow: 0px 10px 2px black;
}
.boton4 {
	position: absolute;
	top: -150px;
    left: 50px;
color: #fff !important;
  font-size: 20px;
  font-weight: 600;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #fff;
  transition: all 1s ease;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  }
  .boton4:hover {
	background: #fff;
	color:#7e612a !important;
	box-shadow: 0 4px 16px rgb(66, 55, 18);
	transition: all 0.2s ease;
	
  }
  .boton5 {
	cursor: pointer;
	position: absolute;
	top: -150px;
	color: #fff !important;
  font-size: 20px;
  font-weight: 600;
  padding: 0.5em 1.2em;
  background: rgba(0,0,0,0);
  border: 2px solid;
  border-color: #fff;
  transition: all 1s ease;
  position: relative;
  border-radius: 15px;
  margin-left: 200px;
  }
  .boton5:hover {
	background: #fff;
	color:#7e612a !important;
	box-shadow: 0 4px 16px rgb(66, 55, 18);
	transition: all 0.2s ease;
	
  }



a{
text-decoration: none;
color: honeydew;
}

header{
    display:flex;
    min-height: 60px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
height: 50px;
margin-right: 10px;
}

nav a{
    font-weight: 800;
    padding-right: 15px;
}

nav a:hover{
    color: rgb(150, 101, 38);
}


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin: auto;
}

.footer{
	background-color: #000000;
    padding: 25px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(150, 101, 38);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
    width: 100%;
}
}


/*loginnn*/

.form{
	background-color: white;
    /*margin-left: 500px;*/
	margin: auto;
	width: 90%;
	max-width: 400px;
	padding: 4.5em 3em;
	border-radius: 10px;
	box-shadow: 0 5px 10px -5px rgb(0 0 0/30%);
	text-align: center;
}
.form_title{
	font-size: 2em;
	margin-bottom: .5em;
}
.form_paragraph{
	font-weight: 300;
}
.form_link{
	font-weight: 400;
	color:#000000;
}
.form_container{
	margin-top: 3em;
	display: grid;
	gap:2.em;
}
.form_group{
	position: relative;
	--color:#5757577e;
}
.form_input{
	width: 100%;
	background: none;
	color: #706c6c;
	font-size: 1rem;
	padding: .6em .3em;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--color);
	font-family: 'Open Sans', sans-serif;
}
.form_label{
	color: var(--color);
}