@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');
body{	
    font-family: 'Open Sans', sans-serif;
	width: 100%;
/* fondo del login */
	background-color: #d7c782;
    opacity: 0.8;
    background-image: radial-gradient(#7e612a 0.5px, transparent 0.5px), radial-gradient(#7e612a 0.5px, #d7c782 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;

}
.contenedor
{
    display: flex;
    min-height: 100vh;
    background: #000;
    z-index: 10000000;
}
.content{
	width: 100%;
	height: 100vh;
	background: #000;
	display: flex;
	transition: all 1s;
	position: fixed;
	left: 0;
    top: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
}
svg
{
    position: absolute;
    width: 400px;
    fill: none;
}
svg:nth-child(2)
{
    filter: blur(40px);
}
svg path
{
    d: path("M0,25 C150,110 150,-60 300,25");
    stroke: #524311;
    stroke-width:50;
    stroke-linecap: round;
    transform: translate(50px,50%);
    animation: animate 2s ease-in-out infinite;
}
@keyframes animate
{
    0%
    {
        stroke: #423009;
        d: path("M0,25 C150,110 150,-60 300,25");   
    }
    50%
    {
        stroke: #7e8b33;
        d: path("M0,25 C150,-50 140,110 300,25");
    }
}
@font-face {
    font-family: Dalila;
    src: url(imagenes/Sweet\ Romance.otf);
}
@font-face {
    font-family: Escrito;
    src: url(imagenes/GrandeuxSerif_PERSONAL_USE_ONLY.otf);
}
/* Oculta el scrollbar*/
	::-webkit-scrollbar {display: none;}
/*----*/

.frf-element video{
    /*
	background-color: rgba(0,0,0,0.8);
	filter:brightness(0.5);*/
    width: 1309px;
	height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    pointer-events: none;
    background-color: rgba(0,0,0,0.8);
	filter:brightness(0.7);
}

.frf-element{
	position: relative;
    display: inline-block;
    text-align: center;
}
.saludo{
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #ffffff;
	font-family:Escrito;
	font-size: 40px;
	text-shadow: 0px 5px 2px black;
}
.nombre{
    position: absolute;
	top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: #ffffff;
	font-family: Dalila;
	font-style:oblique;
	font-size: 70px;
	text-shadow: 0px 5px 8px black;
}
.boton4 {
	position: absolute;
	top: -200px;
    left: 50px;
    color: #fff !important;
    font-size: 20px;
    font-weight: 600;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #fff;
    transition: all 1s ease;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
}
.boton4:hover {
	background: #fff;
	color:#7e612a !important;
	box-shadow: 0 4px 16px rgb(66, 55, 18);
	transition: all 0.2s ease;
	
}
.boton5 {
	cursor: pointer;
	position: absolute;
	top: -200px;
	color: #fff !important;
    font-size: 20px;
    font-weight: 600;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #fff;
    transition: all 1s ease;
    position: relative;
    border-radius: 15px;
    margin-left: 200px;
}
.boton5:hover {
	background: #fff;
	color:#7e612a !important;
	box-shadow: 0 4px 16px rgb(66, 55, 18);
	transition: all 0.2s ease;
	
}



a{
text-decoration: none;
color: honeydew;
}

header{
    display:flex;
    min-height: 60px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
height: 50px;
margin-right: 10px;
}

nav a{
    font-weight: 800;
    padding-right: 15px;
}

nav a:hover{
    color: rgb(150, 101, 38);
}


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin: auto;
}

.footer{
	background-color: #000000;
    padding: 25px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(150, 101, 38);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
    width: 100%;
}
}



section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
	background: url('/imagenes/fondo.jpg');
    background-position: center;
    background-size: cover;
}

.reservacion{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
	background: url('/imagenes/reservacion-fondo.jpg');
    background-position: center;
    background-size: cover;
}


.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box-registro{
    position: relative;
    width: 400px;
    height: 550px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
.letreroCarrusel{
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}
/*Carrusel*/
.carousel{
    width: 100%;
    margin: 0px 0px;
}

.carrusel-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    margin: 50px auto;
    max-width: 150vh;
    overflow: hidden;
}

.carrusel-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
    padding: 10px 10px;
}

.carrusel{
    position: relative;
    width: 210px;
    padding: 0 120px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.carrusel h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #ffffff;
    padding: 15px;
}

.carrusel h4 small{
    font-size: 15px;
    display: block;
}

.carrusel a img{
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
}

.carrusel-arrow{
    border-radius:  30px;
    background-color: #ffffff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus{
    outline: 0;
}
.carrusel-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,0.7);
}

.carrusel-prev{
    left: 0px;
}

.carrusel-next{
    right: 0px;
}
/*-----*/

/*Sobre Nosotros*/
.conocer h2{
    margin-right: -500px;
    padding: 50px;
}
#linea{
    margin-left: 720px;
    margin-top: -50px;
}
.conocenos{
    background: #24262b;
    height: 540px;
}
.conocenos p{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 600px;
    margin-top: 20px;
    padding: 10px 30px;
    text-align: justify;
}
.imagen1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 5px 8px black;
}
.imagen1{
    margin-left: 150px;
    margin-top: -155px;
}
.imagen2 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 5px 8px black;

}
.imagen2{
    margin-left: 350px;
    margin-top: -60px;
}
.imagen3 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 5px 8px black;
}
.imagen3{
    margin-left: 150px;
    margin-top: -80px;
}
/*--Nuestrso Clientes--*/
.clientes h2{
    margin-top: 45px;
    color: #524311;
    margin-left: 70px;
    align-items: center;
     
}
.opiniones{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-left: -100px;
}
.card{
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px 20px;
    top: -90px;
    left: 90px;
    box-shadow: 0px 5px 8px black;
}
.card .head{
    height: 125px;
    width: 100%;
    position: relative;
}
.card .head .circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #7e612a;
    bottom: 0;
}
.card .head .img{
    width: 150px;
    height: 150px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}
.card .head .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.card .description{
    height: 200px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px rgba(6,74,76,.18);
}
.card .description h3{
    color: #05383a;
}
.card .description h4{
    color: #1c5a5c;
}
.card .description p{
    margin-top: 20px;
    font-size: 15px;
}